.spinner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 50px auto;
    border: 10px solid rgba(255,255,255,.1);
    border-left: 10px solid  black;
    animation: spinner 1s linear infinite
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg)
    }
    
    100% {
      transform: rotate(360deg)
    }
  }
  